form {
  padding: 3rem;

  .form-control {
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .form-row {
    & > * {
      padding: 0 1rem;
      margin-bottom: 2rem;
    }

    button,
    a {
      padding: 0.7rem 1.5rem;
      border-radius: 0.5rem;
      margin-right: 1rem;
    }
  }
}
