$primary: #154673;
$primary-light: #4b70a2;
$primary-dark: #001f47;

$theme-colors: (
  'primary': $primary,
  'primary-light': $primary-light,
  'primary-dark': $primary-dark,
);

$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #312020;
$gray-800: #343434;
$gray-900: #212121;

$carousel-indicator-hit-area-height: 2rem;
$spacer: 4rem;

$grid-breakpoints: (
  xs: 0,
  // 0px
  sm: 37.5em,
  // 600px
  md: 56.25em,
  // 900px
  lg: 75em,
  // 1200px
  xl: 112.5em // 1800px,,
);

$container-max-widths: (
  sm: 580px,
  md: 860px,
  lg: 1140px,
  xl: 1600px,
);
