.footer {
  background-color: var(--color-primary);
  padding-top: 3rem;

  .container-fluid {
    padding: 0 5rem;
  }

  .row {
    & > * {
      padding-bottom: 3rem;
      @include device(tab-port) {
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  &__title {
    color: var(--color-gray-100);
    position: relative;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

    @include underline(left) {
      height: 2px;
    }
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      color: var(--color-gray-400);
      line-height: 2;
    }

    &::before {
      content: '> ';
    }

    &:hover {
      color: #ad0000;
      font-weight: 600;

      &::before {
        color: #ad0000;
      }
    }
  }

  &__copyright {
    font-size: 1.4rem;
    background-color: #123d64;
    font-weight: 300;
    padding: 0.5rem 0;
    text-align: center;
    margin-bottom: 0;
    color: $white;

    span {
      font-weight: 400;
    }
  }
}
