:root {
  --color-result: #dc4545;
}

.pointtest {
  margin: 0 20%;
  padding: 8rem 0;
  .card {
    border-radius: 0.5rem;
    margin: 2rem 0;
    overflow: hidden;
  }

  .box {
    h1 {
      color: #154673;
      font-size: 3rem;
    }

    p {
      color: #333;
      line-height: 1.6;
      padding-left: 1rem;
      font-weight: 400;
    }
  }

  .card-header,
  .card-body,
  .card-footer {
    padding: 1rem;
    padding-left: 2rem;
  }

  .card-header {
    background-color: #154673;
    color: #eee;
    font-size: 2rem;
    margin: 0;
  }

  .card-body {
    padding: 2rem;
    border: 1px solid #ccc;
    background-color: #eee;

    .title {
      font-size: 1.8rem;
      padding-bottom: 0.5rem;
      font-weight: 400;
      color: #222;
    }

    .note {
      padding-left: 2rem;
      padding-top: 1rem;
      color: #333;

      span {
        padding-left: 2rem;
        padding-top: 1rem;
        color: #c33;
      }
    }

    label {
      color: #222;
      line-height: 1.8;
    }
  }

  .card-footer {
    background-color: #999;
    font-size: 2rem;
    color: #154673;
    font-weight: 600;
    margin: 0;
  }

  .score {
    padding: 1rem 2rem;
    background-color: var(--color-result);
    color: #eee;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    font-size: 2rem;
    margin: 0;
  }

  .remark {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid var(--color-result);
    background-color: #fff;
    padding: 1rem 2rem;
    color: var(--color-result);
  }
}
