.student-table {
  margin: 4rem 2rem;
  .table-heading {
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-between;
    h3 {
      font-size: 2rem;
      color: $gray-800;
      margin-bottom: 0;
    }
  }

  .table {
    width: 100%;

    th,
    td {
      border: 1px solid $gray-200;
    }

    th {
      padding: 12px 8px;
      color: $gray-200;
      background-color: $primary;
    }

    td {
      padding: 5px 8px;
      background-color: $gray-100;
      border: 1px solid $gray-400;
    }
  }
}
